[Desktop Entry]
Name=Bluetooth Manager
Name[af]=Bluetooth-bestuurder
Name[ar]=مدير البلوتوث
Name[as]=ব্লু-টুথ পৰিচালন ব্যৱস্থা
Name[ast]=Xestor de Bluetooth
Name[be]=Кіраўнік Bluetooth
Name[bg]=Управление на Bluetooth
Name[bn]=ব্লু-টুথ ম্যানেজার
Name[bn_IN]=ব্লু-টুথ পরিচালন ব্যবস্থা
Name[ca]=Gestor del Bluetooth
Name[ca@valencia]=Gestor del Bluetooth
Name[cs]=Správce Bluetooth
Name[da]=Bluetooth-håndtering
Name[de]=Bluetooth-Verwaltung
Name[el]=Διαχείριση Bluetooth
Name[en_AU]=Bluetooth Manager
Name[en_GB]=Bluetooth Manager
Name[es]=Gestor de Bluetooth
Name[et]=Bluetoothi haldur
Name[eu]=Bluetooth-kudeatzailea
Name[fi]=Bluetooth-hallinta
Name[fr]=Gestionnaire Bluetooth
Name[ga]=Bainisteoir Bluetooth
Name[gl]=Xestor de Bluetooth
Name[gu]=બ્લુટુથ વ્યવસ્થાપક
Name[he]=מנהל Bluetooth
Name[hi]=ब्लूटूथ मैनेजर
Name[hr]=Upravitelj Bluetoothom
Name[hu]=Bluetooth-kezelő
Name[id]=Manager Bluetooth
Name[it]=Gestore Bluetooth
Name[ja]=Bluetooth マネージャー
Name[ka]=ლურჯი კბილის მენეჯერი
Name[kn]=ಬ್ಲೂಟೂತ್‌ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=블루투스 관리자
Name[lt]=Bluetooth valdyklė
Name[lv]=Bluetooth pārvaldnieks
Name[mai]=ब्लूटूथ मैनेजर
Name[ml]=ബ്ലൂടൂത് പാലകന്‍
Name[mn]=Блүтүүт зохицуулагч
Name[mr]=Bluetooth व्यवस्थापक
Name[ms]=Pengurus Bluetooth
Name[nb]=Håndtering av Bluetooth
Name[nl]=Bluetooth-beheer
Name[nn]=Handsamar for blåtann
Name[or]=ବ୍ଲୁଟୁଥ ପରିଚାଳକ
Name[pa]=ਬਲਿਊਟੁੱਥ ਮੈਨੇਜਰ
Name[pl]=Menedżer Bluetooth
Name[pt]=Gestor Bluetooth
Name[pt_BR]=Gerenciador Bluetooth
Name[ro]=Administrator Bluetooth
Name[ru]=Менеджер Bluetooth
Name[sk]=Správa bluetooth
Name[sl]=Upravljalnik Bluetooth
Name[sq]=Menaxho Bluetooth
Name[sr]=Блутутов управник
Name[sr@latin]=Blututov upravnik
Name[sv]=Blåtandshanterare
Name[ta]=ப்ளூடூத் மேலாளர்
Name[te]=బ్లూటూత్ నిర్వాహకి
Name[th]=เครื่องมือจัดการบลูทูท
Name[tr]=Bluetooth Yöneticisi
Name[ug]=كۆكچىش باشقۇرغۇچىسى
Name[uk]=Менеджер Bluetooth
Name[vi]=Trình quản lí Bluetooth
Name[zh_CN]=蓝牙管理器
Name[zh_HK]=藍牙管理員
Name[zh_TW]=藍牙管理員
Comment=MATE Bluetooth Manager applet
Comment[ast]=Miniaplicación de xestión de Bluetooth de MATE
Comment[ca]=Miniaplicació gestora del Bluetooth del MATE
Comment[cs]=MATE Bluetooth 
Comment[el]=Μικροεφαρμογή Διαχείρισης Bluetooth του MATE
Comment[en_AU]=MATE Bluetooth Manager applet
Comment[es]=Miniaplicación de gestión de Bluetooth para MATE
Comment[fr]=Applet de gestion Bluetooth de MATE
Comment[gl]=Miniaplicativo xestor de MATE Bluetooth
Comment[he]=יישומון ניהול ה־Bluteooth של MATE
Comment[pl]=Applet MATE menadżera Bluetooth
Comment[pt]=Gestor de bluetooth MATE
Comment[ru]=Апплет MATE Bluetooth Manager
Comment[sl]=Mate aplet za upravljanje Bluetootha
Comment[sq]=MATE Bluetooth Menaxher applet
Comment[tr]=MATE Bluetooth, yönetim aygıtı
Icon=bluetooth
Exec=mate-bluetooth-applet
Terminal=false
Type=Application
Categories=
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-bluetooth
X-MATE-Bugzilla-Component=applet
X-MATE-Bugzilla-Version=1.6.0
