[Desktop Entry]
Type=Application
Name=Certificate and Key Storage
Name[af]=Sertifikaat- en sleutelberging
Name[ar]=مخزن الشهادات والمفاتيح
Name[ast]=Certificaos y almacenamientu de claves
Name[bg]=Съхранение на сертификати и ключове
Name[bn]=সার্টিফিকেট এবং কী স্টোরেজ
Name[ca]=Magatzem de certificats i de claus
Name[ca@valencia]=Magatzem de certificats i de claus
Name[cs]=Odemknout certifikáty a umístění klíčů
Name[da]=Certifikat- og nøglelager
Name[de]=Zertifikat-/Schlüsselverwahrung
Name[el]=Αποθήκη πιστοποιητικών και κλειδιών
Name[en_AU]=Certificate and Key Storage
Name[en_GB]=Certificate and Key Storage
Name[es]=Certificados y almacenamiento de claves
Name[et]=Sertifikaadi- ja võtmehoidla
Name[eu]=Ziurtagirien/gakoen biltegia
Name[fi]=Varmenne- ja avainsäilö
Name[fr]=Stockage de certificats et de clés
Name[gl]=Almacenamento de chave ou certificado
Name[he]=אחסון תעודה ומפתח
Name[hu]=Tanúsítvány- és kulcstároló
Name[id]=Penyimpanan Kunci dan Sertifikat
Name[it]=Archivio certificati e chiavi
Name[ja]=証明書および鍵を格納するストレージ
Name[ko]=인증서 및 키 저장소
Name[lt]=Liudijimų ir raktų saugykla
Name[lv]=Sertifikātu un atslēgu glabātava
Name[ms]=Sijil dan Penyimpanan Kekunci
Name[nb]=Lager for sertifikat/nøkkel
Name[nl]=Certificaat- en sleutelopslag
Name[pa]=ਸਰਟੀਫਿਕੇਟ ਅਤੇ ਕੁੰਜੀ ਸਟੋਰੇਜ਼
Name[pl]=Przechowalnia certyfikatów i kluczy
Name[pt]=Armazenamento de Chaves e Certificados
Name[pt_BR]=Certificados e armazenamento de chaves
Name[ro]=Mediu de stocare pentru certificate și chei
Name[ru]=Хранилище сертификатов и ключей
Name[sk]=Úložisko certifikátov a kľúčov
Name[sl]=Hranjenje potrdil in ključev
Name[sr]=Складиште сертификата и кључева
Name[sr@latin]=Skladište sertifikata i ključeva
Name[sv]=Certifikat och nyckellagring
Name[ta]=சான்றிதழ்/விசை சேமிப்பகம்
Name[th]=แหล่งใบรับรองและกุญแจ
Name[tr]=Sertifika ve Anahtar Depolaması
Name[uk]=Сертифікат та сховище ключів
Name[vi]=Lưu trữ Chứng nhận và Khoá
Name[zh_CN]=证书和密钥存储
Name[zh_HK]=證書與密碼匙儲存區
Name[zh_TW]=憑證與金鑰儲存區
Comment=MATE Keyring: PKCS#11 Component
Comment[af]=MATE-sleutelring: PKCS#11-komponent
Comment[ar]=حلقة مفاتيح جنوم: مكون PKCS#11
Comment[ast]=Depósitu de claves de MATE: Componente PKCS#11
Comment[bg]=Ключодържател на MATE: компонент за PKCS#11
Comment[bn]=MATE কীরিং ডেমন: PKCS#11 কম্পোনেন্ট
Comment[ca]=Anell de claus del MATE: component PKCS#11
Comment[ca@valencia]=Anell de claus del MATE: component PKCS#11
Comment[cs]=Klíčenka MATE: komponenta PKCS#11
Comment[da]=MATE-nøgleringsdæmon: PKCS#11-komponent
Comment[de]=MATE-Schlüsselbunddienst: PKCS#11-Komponente
Comment[el]=MATE Keyring: Συστατικό PKCS#11
Comment[en_AU]=MATE Keyring: PKCS#11 Component
Comment[en_GB]=MATE Keyring: PKCS#11 Component
Comment[es]=Depósito de claves de MATE: Componente PKCS#11
Comment[et]=MATE võtmerõngas: PKCS#11 komponent
Comment[eu]=MATEren gako-sorta: PKCS#11 osagaia
Comment[fi]=Maten avainnippu: PKCS#11-komponentti
Comment[fr]=Trousseau de clés MATE : composant PKCS#11
Comment[gl]=MATE Keyring: compoñente PKCS#11
Comment[he]=קבוצת מפתחות של MATE:רכיב PKCS#11
Comment[hu]=MATE kulcstartó – PKCS#11 összetevő
Comment[id]=MATE Keyring: Komponen PKCS#11
Comment[it]=Portachiavi di MATE: componente PKCS#11
Comment[ja]=MATE キーリング: PKCS#11 コンポーネント
Comment[ko]=그놈 키 모음: PKCS#11 컴포넌트
Comment[lt]=MATE raktinė: PKCS#11 komponentas
Comment[lv]=MATE Keyring: PKCS#11 komponente
Comment[ms]=MATE Keyring: Komponen PKCS#11
Comment[nb]=MATE nøkkelring: PKCS#11-komponent
Comment[nl]=Sleutelbos-service: PKCS#11-component
Comment[pa]=ਗਨੋਮ ਕੀਰਿੰਗ: PKCS#11 ਭਾਗ
Comment[pl]=Baza kluczy dla środowiska MATE: składnik PKCS#11
Comment[pt]=MATE Keyring: Componente PKCS#11
Comment[pt_BR]=Chaveiro do MATE: Componente PKCS#11
Comment[ro]=MATE Keyring: Componenta PKCS#11
Comment[ru]=Связка ключей MATE: компонент PKCS#11
Comment[sl]=MATE zbirka ključev: PKCS#11 enota
Comment[sr]=Гномови привесци: ПКЦС#11 компонента
Comment[sr@latin]=Gnomovi privesci: PKCS#11 komponenta
Comment[sv]=MATE-nyckelring: PKCS#11-komponent
Comment[ta]=MATE கீரிங்:  PKCS#11 கூறு
Comment[th]=พวงกุญแจของ MATE: องค์ประกอบ PKCS#11
Comment[tr]=MATE Anahtarlığı: PKCS#11 Bileşeni
Comment[uk]=Служба в'язки ключів MATE: компонент PKCS#11
Comment[vi]=Vòng Khoá MATE: thành phần PKCS#11
Comment[zh_CN]=MATE 密钥环：PKCS#11 组件
Comment[zh_HK]=MATE 密碼匙圈：PKCS#11 元件
Comment[zh_TW]=MATE 鑰匙圈：PKCS#11 元件
Exec=/usr/bin/mate-keyring-daemon --start --components=pkcs11
OnlyShowIn=MATE;
X-MATE-Autostart-Phase=Initialization
X-MATE-AutoRestart=false
X-MATE-Autostart-Notify=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-keyring
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.6.0
