[Desktop Entry]
Type=Application
Name=GPG Password Agent
Name[af]=GPG-wagwoordagent
Name[ar]=عميل كلمة السر GPG
Name[ast]=Axente de contraseñes GPG
Name[bg]=Агент за пароли на GPG
Name[ca]=Agent de contrasenyes GPG
Name[da]=GPG-adgangskodeagent
Name[de]=GPG-Passwort-Agent
Name[el]=Πρόγραμμα κωδικού GPG
Name[en_AU]=GPG Password Agent
Name[en_GB]=GPG Password Agent
Name[es]=Agente de contraseñas GPG
Name[et]=GPG-võtmete agent
Name[fr]=Agent de mot de passe GPG
Name[gl]=Axente de contrasinais GPG
Name[he]=סוכן ססמאות ה־PGP
Name[hu]=GPG jelszóügynök
Name[id]=Agen Sandi GPG
Name[it]=Agente della password GPG
Name[ja]=GPG パスワードエージェント
Name[lv]=GPG Paroles Aģents
Name[nb]=GPG passordagent
Name[nl]=GPG-wachtwoordagent
Name[pa]=GPG ਪਾਸਵਰਡ ਏਜੰਟ
Name[pl]=Agent hasła GPG
Name[pt]=Agente de Senha GPG
Name[pt_BR]=Senha do Agente GPG
Name[ru]=Агент GPG паролей
Name[sl]=GPG agent gesel
Name[sr]=Агент за ГПГ лозинке
Name[sr@latin]=Agent za GPG lozinke
Name[sv]=GPG-lösenordsagent
Name[ta]=ஜிபிஜி கடவுச்சொல்லின் பலம்
Name[tr]=GPG Parola Görevlisi
Name[zh_CN]=GPG 密码助手
Name[zh_HK]=GPG 密碼代理程式
Name[zh_TW]=GPG 密碼代理程式
Comment=MATE Keyring: GPG Agent
Comment[af]=MATE-sleutelring: GPG-agent
Comment[ar]=حلقة مفاتيح جنوم: عميل GPG
Comment[ast]=Aniellu de claves de MATE: axente GPG
Comment[bg]=Ключодържател на MATE: агент на GPG
Comment[ca]=Anell de claus del MATE: Agent GPG
Comment[da]=MATE-nøglering: GPG-agent
Comment[de]=MATE-Schlüsselbunddienst: GPG-Agent
Comment[el]=MATE Keyring: GPG Agent
Comment[en_AU]=MATE Keyring: GPG Agent
Comment[en_GB]=MATE Keyring: GPG Agent
Comment[es]=Depósito de claves de MATE: agente GPG
Comment[et]=MATE võtmerõngas: GPG-agent
Comment[fr]=Trousseau de clés MATE : agent GPG
Comment[gl]=Anel de chaves de MATE: axente GPG
Comment[he]=קבוצת מפתחות MATE: סוכן GPG
Comment[hu]=MATE kulcstartó: GPG-ügynök
Comment[id]=Ring Kunci MATE: Agen GPG
Comment[it]=Portachiavi di MATE: agente GPG
Comment[ja]=MATE キーリング: GPG エージェント
Comment[lv]=MATE Atslēgsaišķis: GPG Aģents
Comment[nb]=MATE nøkkelring: GPG-agent
Comment[nl]=Mate-sleutelbos: GPG-agent
Comment[pa]=ਗਨੋਮ ਕੀਰਿੰਗ: GPG ਏਜੰਟ
Comment[pl]=Baza kluczy dla środowiska MATE: agent GPG
Comment[pt]=MATE Keyring: Agente GPG
Comment[pt_BR]=Chaveiro do MATE: Agente GPG
Comment[ru]=Связка ключей MATE: Агент GPG
Comment[sl]=MATE zbirka ključev: GPG agent
Comment[sr]=Гномови привесци: ГПГ агент
Comment[sr@latin]=Gnomovi privesci: GPG agent
Comment[sv]=MATE-nyckelring: GPG-agent
Comment[ta]=MATE கீரிங்: ஜிபிஜி முகவர்
Comment[tr]=MATE Anahtarlığı: GPG Görevlisi
Comment[zh_CN]=MATE 密钥环：GPG 助手
Comment[zh_HK]=MATE 密碼匙圈：GPG 代理程式
Comment[zh_TW]=MATE 鑰匙圈：GPG 代理程式
Exec= mate-keyring-daemon --start --components=gpg
OnlyShowIn=MATE;
X-MATE-Autostart-Phase=Initialization
X-MATE-AutoRestart=false
X-MATE-Autostart-Notify=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-keyring
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.6.0
