[Desktop Entry]
Type=Application
Name=SSH Key Agent
Name[af]=SSH-sleutelagent
Name[ar]=عميل مفاتيح SSH
Name[ast]=Axente de claves SSH
Name[bg]=Агентът на SSH за ключове
Name[bn]=SSH কী এজেন্ট
Name[ca]=Agent de claus SSH
Name[ca@valencia]=Agent de claus SSH
Name[cs]=Agent klíčů SSH
Name[da]=SSH-nøgleagent
Name[de]=SSH-Schlüsselagent
Name[el]=SSH Key Agent
Name[en_AU]=SSH Key Agent
Name[en_GB]=SSH Key Agent
Name[es]=Agente de claves SSH
Name[et]=SSH-võtmete agent
Name[eu]=SSH gako-agentea
Name[fi]=SSH-avainten agentti
Name[fr]=Agent de clés SSH
Name[gl]=Axente de chave SSH
Name[he]=סוכן מפתחות SSH
Name[hu]=SSH-kulcs ügynök
Name[id]=Agen Kunci SSH
Name[it]=Agente della chiave SSH
Name[ja]=SSH 鍵エージェント
Name[ko]=SSH 키 에이전트
Name[lt]=SSH raktų tarnyba
Name[lv]=SSH atslēgu aģents
Name[ms]=Agen Kekunci SSH
Name[nb]=SSH-nøkkelagent
Name[nl]=SSH-sleutelagent
Name[pa]=SSH ਕੁੰਜੀ ਏਜੰਟ
Name[pl]=Agent kluczy SSH
Name[pt]=Agente de Chaves SSH
Name[pt_BR]=Agente de chaves SSH
Name[ro]=Agent pentru chei SSH
Name[ru]=Агент ключей SSH
Name[sl]=SSH Agent ključev
Name[sr]=Агент за SSH кључеве
Name[sr@latin]=Agent za SSH ključeve
Name[sv]=SSH-nyckelagent
Name[ta]=SSH முகவர்
Name[th]=เอเจนต์กุญแจ SSH
Name[tr]=SSH Anahtar Görevlisi
Name[uk]=агент ключів SSH
Name[vi]=Tác nhân khoá SSH
Name[zh_CN]=SSH 密钥助手
Name[zh_HK]=SSH 密碼匙代理程式
Name[zh_TW]=SSH 金鑰代理程式
Comment=MATE Keyring: SSH Agent
Comment[af]=MATE-sleutelring: SSH-agent
Comment[ar]=حلقة مفاتيح جنوم: عميل SSH
Comment[ast]=Depósitu de claves de MATE: axente SSH
Comment[bg]=Ключодържател на MATE: агент на SSH
Comment[bn]=MATE কীরিং ডেমন: SSH এজেন্ট
Comment[ca]=Anell de claus del MATE: agent SSH
Comment[ca@valencia]=Anell de claus del MATE: agent SSH
Comment[cs]=Klíčenka MATE: Agent SSH
Comment[da]=MATE-nøgleringsdæmon: SSH-agent
Comment[de]=MATE-Schlüsselbunddienst: SSH-Agent
Comment[el]=MATE Keyring: SSH Agent
Comment[en_AU]=MATE Keyring: SSH Agent
Comment[en_GB]=MATE Keyring: SSH Agent
Comment[es]=Depósito de claves de MATE: agente SSH
Comment[et]=MATE võtmerõngas: SSH-agent
Comment[eu]=MATEren gako-sorta: SSH agentea
Comment[fi]=Maten avainnippu: SSH-agentti
Comment[fr]=Trousseau de clés MATE : agent SSH
Comment[gl]=MATE Keyring: Axente SSH
Comment[he]=קבוצת מפתחות של MATE: סוכן SSH
Comment[hu]=MATE kulcstartó – SSH-ügynök
Comment[id]=Ring Kunci MATE: Agen SSH
Comment[it]=Portachiavi di MATE: agente SSH
Comment[ja]=MATE キーリング: SSH エージェント
Comment[ko]=그놈 키 모음: SSH 에이전트
Comment[lt]=MATE raktinė: SSH tarnyba
Comment[lv]=MATE Keyring: SSH aģents
Comment[ms]=MATE Keyring: Agen SSH
Comment[nb]=MATE nøkkelring: SSH-agent
Comment[nl]=Sleutelbos-service: SSH-agent
Comment[pa]=ਗਨੋਮ ਕੀਰਿੰਗ: SSH ਏਜੰਟ
Comment[pl]=Baza kluczy dla środowiska MATE: agent SSH
Comment[pt]=MATE Keyring: Agente SSH
Comment[pt_BR]=Chaveiro do MATE: Agente SSH
Comment[ro]=MATE Keyring: Agent SSH
Comment[ru]=Связка ключей MATE: SSH-агент
Comment[sl]=MATE zbirka ključev: SSH agent
Comment[sr]=Гномови привесци: ССХ агент
Comment[sr@latin]=Gnomovi privesci: SSH agent
Comment[sv]=MATE-nyckelring: SSH-agent
Comment[ta]=MATE கீரிங்: SSH முகவர்
Comment[th]=พวงกุญแจของ MATE: เอเจนต์ SSH
Comment[tr]=MATE Anahtarlığı: SSH Görevlisi
Comment[uk]=Служба в'язки ключів MATE: агент SSH
Comment[vi]=Vòng Khoá MATE: SSH Agent
Comment[zh_CN]=MATE 密钥环：SSH 助手
Comment[zh_HK]=MATE 密碼匙圈：SSH 代理程式
Comment[zh_TW]=MATE 鑰匙圈：SSH 代理程式
Exec=/usr/bin/mate-keyring-daemon --start --components=ssh
OnlyShowIn=MATE;
X-MATE-Autostart-Phase=Initialization
X-MATE-AutoRestart=false
X-MATE-Autostart-Notify=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-keyring
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.6.0
